<h1>
  Add a new leg
</h1>


<hr>

<form action="/create_leg" method="post">
  
  
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>
  
  <div class="form-group">
    <label for="trip_id">
      Trip
    </label>

    <%= select_tag("trip_id", options_from_collection_for_select(Trip.all, :id, :name, @leg.try(:trip_id)), :class => "form-control") %>
    or <a href="/trips/new">add a new trip</a> first

  </div>
  
  

  <button class="btn btn-block btn-outline-secondary">
    Create leg
  </button>
</form>

<hr>

<a href="/legs">
  Go back
</a>
