<!-- Validation failure messages -->
<% if @leg.present? %>
  <% if @leg.errors.any? %>
    <% @leg.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new leg
</h1>


<hr>

<form action="/create_leg" method="post">

  <div class="form-group">
    <label for="trip_id">
      Trip
    </label>

    <input type="text" id="trip_id" name="trip_id" class="form-control" value="<%= @leg.trip_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create leg
  </button>
</form>

<hr>

<a href="/legs">
  Go back
</a>
