<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All participations
    </h1>

    <a href="/participations/new" class="btn btn-block btn-outline-secondary">
      Add a new participation
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>


        <th>
          User
        </th>

        <th>
          Trip
        </th>


        <th>
        </th>
      </tr>

      <% @participations.each do |participation| %>
      <tr>
  

        <td>
          <%= User.find(participation.user_id).name %>
        </td>

        <td>
          <%= Trip.find(participation.trip_id).name %>
        </td>


        <td>
          <a href="/participations/<%= participation.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
