<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= User.find(@participation.user_id).name %>
    </h1>
    

<div class="row mb-3">
      <div class="col">
        <a href="/participations" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/participations/<%= @participation.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit participation
        </a>
      </div>

      <div class="col">
        <a href="/delete_participation/<%= @participation.id %>" class="btn btn-block btn-outline-secondary">
          Delete participation
        </a>
      </div>
    </div>

</div>
    
  </div>
</div>

