<h1>
  Add a new trip
</h1>


<hr>

<form action="/create_trip" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>


    <input type="hidden" id="manager_id" name="manager_id" value=<%= current_user.id %>>


  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create trip
  </button>
</form>

<hr>

<a href="/trips">
  Go back
</a>
