<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All hotels
    </h1>

    <a href="/hotels/new" class="btn btn-block btn-outline-secondary">
      Add a new hotel
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Name
        </th>

        <th>
          Leg
        </th>

        <th>
          Trip
        </th>

        <th>
        </th>
      </tr>

      <% @hotels.each do |hotel| %>
      <tr>

        <td>
          <%= hotel.name %>
        </td>

        <td>
          <%= Leg.find(hotel.leg_id).name %>
        </td>

        <td>
          <%= Trip.find(hotel.leg_id).name %>
        </td>


        <td>
          <a href="/hotels/<%= hotel.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
