<h1>
  Add a new roomate request
</h1>


<hr>

<form action="/create_roomate_request" method="post">

    <input type="hidden" name="requestor_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="recipient_id">
      Recipient
    </label>
    
    <%= select_tag("recipient_id", options_from_collection_for_select(User.all, :id, :name), :class => "form-control") %>

  </div>

    <input type="hidden" value="0" name="approved">
    
  

  <div class="form-group">
    <label for="hotel_id">
      Hotel
    </label>

    <%= select_tag("hotel_id", options_from_collection_for_select(Hotel.all, :id, :name), :class => "form-control") %>

  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create roomate request
  </button>
</form>

<hr>

<a href="/roomate_requests">
  Go back
</a>
